body,
#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.HolyGrail-body {
  display: flex;
  flex: 1;
}

.HolyGrail-content {
  flex: 1;
}

.HolyGrail-nav,
.HolyGrail-ads {
  /* 12em is the width of the columns */
  flex: 0 0 12em;
}

.HolyGrail-nav {
  /* put the nav on the left */
  order: -1;
}

header,
footer {
  background-color: rgb(231, 180, 117);
  line-height: 5rem;
  font-size: medium;
  padding: 0, 1rem;
}

main,
nav,
aside {
  border: solid black 1px;
  padding: 1rem;
}

footer {
  line-height: 3rem;
}

/* ESTOS SON LOS EFECTOS DE GALE */
img {
  width: 100px;
  height: 100px;
}

.gran {
  width: 300px;
  height: 300px;
}

.visible {
  width: 300px;
  height: 300px;
  display: auto;
  background-color: beige;
}

.amagada {
  display: none;
}

/* ESTOS SON LOS EFECTOS DE BOTON  */

.red {
  background-color: red;
}
.blue {
  background-color: aqua;
}

.CounterRedux {
  color: #ff708e;
  font-size: large;
  background-color: antiquewhite;
  padding: 90px;
  margin: 50px, #ff708e;
}
.botonredux {
  border: 2px, paleturquoise;
  color: blueviolet;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

/* CSS CALCULADORA  */
.Calculadora {
  padding: 50px;
  margin: 370px;
  margin-left: 350px;
  border: 2px, solid, black;
}

.Numeros {
  display: flex;
  gap: 10px;
  gap: 10px 20px; /* row-gap column gap */
  row-gap: 10px;
  column-gap: 20px;
  background-color: #ff708e;
  font-size: 100px;
  flex-wrap: wrap;
}
.Butons {
  display: flex;
  gap: 10px;
  gap: 10px 20px; /* row-gap column gap */
  row-gap: 10px;
  column-gap: 20px;
  background-color: #ff708e;
}

.Display {
  background: green;
}

/* Toggle style  */
.Toggle {
  display: flex;
  gap: 10px;
  gap: 10px 20px; /* row-gap column gap */
  row-gap: 10px;
  column-gap: 20px;
  background-color: #ff708e;
}
.Lol {
  display: flex;
  gap: 10px;
  gap: 10px 20px; /* row-gap column gap */
  row-gap: 10px;
  column-gap: 20px;
  background-color: #ff708e;
}

/* CSS RELOJ */
.RellotgeDigital__Display {
  background-color: #3a5e4a;
  color: white;
  margin: 0 300px 0 200px;
  border-radius: 20px;
  height: 150px;
}
.RellotgeDigital__Hora {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  margin: 0;
  text-align: center;
}
.RellotgeDigital__Hora {
  font-size: 100px;
}
